.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}

.roverGallery {
  display: flex;
  flex-wrap: wrap;;
  justify-content: center;
  /* margin-top: 8vh; */
  /* background-color: #f7d3aa; */
  background-color: transparent;
}

.flex-container img {
  /* max-width: 250px; */
  border-radius: 1rem;
  max-height: 250px;
  height: auto;
  width: 250px;
  padding: 10px;
  justify-content: center;
  transition: all 0.75s ease;
}

.galleryBody {
  z-index: -1;
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
  top: 0;
  width: 100vw;
  background-image: linear-gradient(to bottom right, rgb(209, 164, 61), rgb(139, 29, 51))
}

.galleryBody::-webkit-scrollbar {
  display: none;
}

.load {
  position: fixed;
  top: 40%;
}

.roverGallery img:hover{
  /* transform: scale(1.1); */
  transform: matrix(1.2, 0, 0, 1.2, -16, 32)
}