table, td {
  border-style: solid;

}
img {
  border-radius: 1rem;
}

td {
  padding: 10px;
}

.flex-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.flex-contain table {
  width: 33%;
}

.winning-header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
  padding-top: 35px;
  background-image: linear-gradient(to bottom right, rgb(0, 103, 91), rgb(21, 209, 132))
}

.winning-photos {
  display: flex;
  justify-content: space-evenly;
}

.cardImg {
  height: 500px;
  width: auto;
}

.body {
  background-image: linear-gradient(to bottom right, rgb(209, 164, 61), rgb(139, 29, 51));
  position: fixed;
}